@page
@model Editor.Pages_Messages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Message.Id" />
            <div class="form-group">
                <label asp-for="Message.Date" class="control-label"></label>
                <input asp-for="Message.Date" class="form-control" />
                <span asp-validation-for="Message.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Title" class="control-label"></label>
                <input asp-for="Message.Title" class="form-control" />
                <span asp-validation-for="Message.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Description" class="control-label"></label>
                <input asp-for="Message.Description" class="form-control" />
                <span asp-validation-for="Message.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <h5>Links</h5>
            <div class="form-group">
                <label asp-for="Message.Video" class="control-label"></label>
                @if(Model.Message.VideoId == null)
                {
                    <a class="btn btn-light" asp-page="/Videos/Create" asp-route-id="@Model.Message.VideoId" asp-route-messageId="@Model.Message.Id" role="button">Add</a>
                }
                else
                {
                    <a class="btn btn-light" asp-page="/Videos/Details" asp-route-id="@Model.Message.VideoId" role="button">View</a>
                    <a class="btn btn-danger" asp-page="/Videos/Delete" asp-route-id="@Model.Message.VideoId" role="button">Delete</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="Message.Audio" class="control-label"></label>
                @if(Model.Message.AudioId == null)
                {
                    <a class="btn btn-light" asp-page="/Audio/Create" asp-route-id="@Model.Message.AudioId" asp-route-messageId="@Model.Message.Id" role="button">Add</a>
                }
                else
                {
                    <a class="btn btn-light" asp-page="/Audio/Details" asp-route-id="@Model.Message.AudioId" role="button">View</a>
                    <a class="btn btn-danger" asp-page="/Audio/Delete" asp-route-id="@Model.Message.AudioId" role="button">Delete</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="Message.Notes" class="control-label"></label>
                @if(Model.Message.NotesId == null)
                {
                    <a class="btn btn-light" asp-page="/Notes/Create" asp-route-id="@Model.Message.NotesId" asp-route-messageId="@Model.Message.Id" role="button">Add</a>
                }
                else
                {
                    <a class="btn btn-light" asp-page="/Notes/Details" asp-route-id="@Model.Message.NotesId" role="button">View</a>
                    <a class="btn btn-danger" asp-page="/Notes/Delete" asp-route-id="@Model.Message.NotesId" role="button">Delete</a>
                }
            </div>
        </div>

    </div>
</div>

<div>
    <a class="btn btn-danger" asp-page="/Messages/Delete" asp-route-id="@Model.Message.Id" role="button">Delete Message</a>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
