@page
@model Editor.Pages_Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <a class="btn btn-primary btn-large" asp-page="/Messages/Create" role="button">Add a New Message</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">
                    @Html.DisplayNameFor(model => model.Message[0].Date)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">
                    @Html.DisplayNameFor(model => model.Message[0].Title)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]">
                    @Html.DisplayNameFor(model => model.Message[0].Description)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Audio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Notes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var message in Model.Message)
            {
                @await Html.PartialAsync("_MessageTableRow", message);
            }
        </tbody>
    </table>
</div>
