@page
@model Editor.Pages_Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <a class="btn btn-primary btn-large" asp-page="/Messages/Create" role="button">Add a New Message</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Audio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Notes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var message in Model.Message)
            {
                @await Html.PartialAsync("_MessageTableRow", message);
            }
        </tbody>
    </table>
</div>
