@page
@model MessageManager.Pages.Series.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Series</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Series.Id" />
            <div class="form-group">
                <label asp-for="Series.Name" class="control-label"></label>
                <input asp-for="Series.Name" class="form-control" />
                <span asp-validation-for="Series.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Series.PlaylistId"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h5>Links</h5>
    <div class="form-group">
        <label asp-for="Series.Playlist" class="control-label"></label>
        @if(Model.Series.PlaylistId == null)
        {
            <a class="btn btn-light" asp-page="/Playlists/Create" asp-route-id="@Model.Series.PlaylistId" asp-route-seriesId="@Model.Series.Id" role="button">Create New</a>
        }
        else
        {
            <a class="btn btn-light" asp-page="/Playlists/Details" asp-route-id="@Model.Series.PlaylistId" role="button">View</a>
            <a class="btn btn-danger" asp-page="/Playlists/Delete" asp-route-id="@Model.Series.PlaylistId" role="button">Delete</a>
        }
    </div>
    <div>
        <label asp-for="Series.Messages" class="control-label"></label>
            @foreach (var item in @Model.Series.Messages)
            {
                <form method="post">
                    <li>
                        <a class="btn btn-light" asp-page="/Messages/Details" asp-route-id="@item.Id"
                            role="button">@item.Title</a>

                        <input type="submit" class="btn btn-danger" asp-page-handler="UnlinkSeries" asp-route-id="@item.Id"
                            role="button" value="Unlink" />
                        <input type="hidden" asp-for="Series.Id" />
                        <input type="hidden" asp-for="Series.Name" />
                        <input type="hidden" asp-for="Series.PlaylistId"/>
                    </li>
                </form>

            }
    </div>
</div>


<div>
    <a class="btn btn-danger" asp-page="/Series/Delete" asp-route-id="@Model.Series.Id" role="button">Delete Series</a>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
