@page
@model Editor.Pages_Audio.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Audio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.StreamUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.StreamUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.DownloadUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.DownloadUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Message.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Audio.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
