@page
@model Editor.Pages_Audio.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].StreamUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].DownloadUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Audio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreamUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.Title)
            </td>
            <td>
                <partial name="_EditLink" model="new { Id = @item.Id, User = @User }">
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <partial name="_DeleteLink" model="new { Id = @item.Id, User = @User }">
            </td>
        </tr>
}
    </tbody>
</table>
