@page
@model Editor.Pages_Audio.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].StreamUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].DownloadUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audio[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Audio) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreamUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
