@page
@model MessageManager.Pages_Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <a class="btn btn-primary btn-large" asp-page="/Messages/Create" role="button">Add a New Message</a>
</div>
<div>
    <!-- TODO: Move to partial -->
    <form asp-action="Index" method="get">
        <div class="active-cyan-4 mb-4">
            <input class="form-control" 
                type="text" 
                name="SearchString" 
                placeholder="Search" 
                aria-label="Search" 
                value="@ViewData["CurrentSearch"]"> 
        </div>
    </form>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                        asp-route-sortOrder="@ViewData["DateSortParam"]" 
                        asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.Message[0].Date)</a>
                </th>
                <th>
                    <a asp-action="Index" 
                        asp-route-sortOrder="@ViewData["TitleSortParam"]"
                        asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.Message[0].Title)</a>
                </th>
                <th>
                    <a asp-action="Index" 
                        asp-route-sortOrder="@ViewData["DescriptionSortParam"]"
                        asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.Message[0].Description)</a>
                </th>
                <th>
                    <a asp-action="Index" 
                        asp-route-sortOrder="@ViewData["SeriesSortParam"]"
                        asp-route-searchString="@ViewData["CurrentSearch"]">
                    @Html.DisplayNameFor(model => model.Message[0].Series)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Audio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Notes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var message in Model.Message)
            {
                @await Html.PartialAsync("_MessageTableRow", message);
            }
        </tbody>
    </table>
    @if(!String.IsNullOrEmpty((string)ViewData["CurrentSearch"]))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
