@page
@model MessageManager.Pages.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes.Message.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notes.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
