@page
@model MessageManager.Pages_Videos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].YouTubeVideoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].YouTubePlaylistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].MessageStartTimeString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Video) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YouTubeVideoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YouTubePlaylistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageStartTimeString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.Title)
            </td>
            <td>
                <partial name="_EditLink" model="new { Id = @item.Id, User = @User }">
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <partial name="_DeleteLink" model="new { Id = @item.Id, User = @User }">
            </td>
        </tr>
}
    </tbody>
</table>
